.UserListItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.UserListItem__left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.UserListItem__avatar{
    width: 45px;
    height: 45px;
    background: #2d9cdb;
    border-radius: 50%;
    margin-right: 3rem;
  }

  .UserListItem__name{
    margin-top: 0.5rem;
    margin-right: 2rem;
  }

