.ResetPasswordPage {
  width: 100%;
  min-height: 100vh;
  background-color: #fff8e1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ResetPasswordPage__logo {
  font-size: 2.25rem;
  color: black;
  font-family: "Quattrocento";
  margin: 3rem 0;
}

.ResetPasswordPage__container {
  width: 500px;
  height: fit-content;
  padding: 3rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.ResetPasswordPage__header {
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
  margin-bottom: 2rem;
}

.ResetPasswordPage__input {
  margin-bottom: 1.5rem;
}

.ResetPasswordPage__button {
  margin-top: 0.5rem;
}

.ResetPasswordPage__text {
  margin-bottom: 1rem;
}

.ResetPasswordPage__link {
  color: black;
  text-decoration: underline;
}
